@import url("https://fonts.googleapis.com/css2?family=Joan&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Joan", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(90deg, rgb(133, 42, 57), rgb(112, 46, 109));
}
.search {
  position: relative;
  height: 50px;
}
.search .input {
  border: 0;
  background-color: #fff;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 50px;
  transition: width 0.3s ease;
}
.search .btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: 0;
  transition: transform 0.3s;
}
.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
}
.search.active .btn {
  transform: translateX(198px);
}
